doctype html
html
    head
        include head
        link(rel="stylesheet", href="/css/coming-soon.css")
        script(src="/js/coming-soon.js")
    body
        main
            .wrapper
                h6.page-title 即將上線
                p.text.countdown
            img.kotori(src="/images/kotori.png")
        include page