script
    |   window.fbAsyncInit = function() {
    |       FB.init({
    |           appId: "#{appId}",
    |           cookie: true,
    |           xfbml: true,
    |           version: "v7.0"
    |       });
    |       FB.AppEvents.logPageView();
    |   };
script(async, defer, src="https://connect.facebook.net/zh_TW/sdk.js")