footer#footer
    a.meta.link(href="https://github.com/yangszwei", target="_blank") Szwei Yang
    span.meta &nbsp;#{new Date().getFullYear().toString()}&nbsp;|&nbsp;
    a.meta.link(href="https://github.com/yangszwei/daan-retard/tree/master", target="_blank") 原始碼