footer
    p.license
        a.link(href="https://github.com/yangszwei", target="_blank") Szwei Yang
        | &nbsp;#{new Date().getFullYear().toString()}
    .social
        a.link(href="https://www.facebook.com/daanretard", target="_blank")
            .iconify(data-icon="fa-brands:facebook")
        a.link(href="https://github.com/yangszwei/daan-retard/tree/master", target="_blank")
            .iconify(data-icon="fa-brands:github")