footer
    p
        a.link(href="https://github.com/yangszwei", target="_blank") Szwei Yang
        | &nbsp;#{new Date().getFullYear().toString()} (
        a.link(href="https://github.com/yangszwei/daan-retard/blob/master/LICENSE", target="_blank") MIT License
        | )