title #{title ? `${title} | ` : ""}靠北大安4.0
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
link(rel="icon", href="/images/icon_128.png")
link(rel="stylesheet", href="/css/style.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap")
script(async, defer, src="/js/page.js")
script(async, defer, src="https://code.iconify.design/1/1.0.7/iconify.min.js")