title #{title ? `${title} | ` : ""}靠北大安4.0
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="icon", href="/images/icon_128.png")
link(rel="stylesheet", href="/css/default.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap")
script(src="/js/default.js", async)
script(src="https://code.iconify.design/1/1.0.7/iconify.min.js", async)