doctype html
html
    head
        include head
        link(rel="stylesheet", href="/css/index.css")
    body
        main
            header
                img(src="/images/icon_331.png")
                h4 匿名發文系統
                p.meta #{version}
            section#menu
                if user
                    a.button-default.primary(href="/post/create") 建立貼文
                else
                    a.button-default.primary(href="/user/register") 建立帳戶
                    a.link-default(href="/post/create") 建立貼文
        include page-basic