nav#topnav
    .main
        .item.mobile
            button.menu-toggle
                .iconify.open(data-icon="mdi:menu")
                .iconify.close(data-icon="mdi:close")
        .title
            a.title(href="/") 靠北大安4.0
        .item.mobile
            a.write-post(href="/post/create")
                .iconify(data-icon="mdi:pencil-box-outline")
    .navigation.content
        a.text(href="/rules") 版規
        if user
            a.text(href="/user") 我的帳戶
            a.text(href="/post/me") 我的貼文
        else
            a.text(href="/user/login") 登入
            a.text(href="/user/register") 建立帳戶
        a.text.desktop(href="/post/create") 建立貼文
    .social-links.content
        a(href="/").mobile
            .iconify(data-icon="mdi:web")
        a(href="https://facebook.com/daanretard", target="_blank")
            .iconify(data-icon="mdi:facebook")
        a(href="https://www.instagram.com/dart_4.0", target="_blank")
            .iconify(data-icon="mdi:instagram")
        if user && user.privileges
            a(href="/admin")
                .iconify(data-icon="mdi:comment-eye")
footer
    .license
        a.link(href="https://github.com/yangszwei", target="_blank") Szwei Yang
        | &nbsp;#{new Date().getFullYear().toString()}
    .links
        a.link(href="/issue/open") 回報問題
        a.link(href="https://github.com/yangszwei/daan-retard/tree/master", target="_blank") Source Code