doctype html
html
    head
        include head
        link(rel="stylesheet", href="/css/post-create.css")
        script(async, defer, src="/js/post-create.js")
    body
        main
            h6.page-title 建立貼文
            .form
                .form-visual-section
                    unless user
                        .card-default
                            .container.enter-email.active
                                .control
                                    label(for="email") 電子郵件
                                    input#email(name="email", type="email")
                                .control
                                    p.description
                                        | 我們將於他人對此貼文提出問題時，以此電子郵件聯絡您。
                                        em 於完成驗證後，您的貼文才會被發佈。
                                        a.link(href="/user/sign-in", target="_self") 登入
                                        | 並完成一次驗證後，即可跳過此步驟。
                                .control.centered#send-code-result
                                .control.flex-end
                                    button#send-code.button-primary 寄送驗證碼
                            .container.enter-code
                                .control
                                    label(for="verification-code") 驗證碼
                                    input#verification-code(
                                        name="verification-code",
                                        type="number",
                                        pattern="[0-9]*"
                                    )
                                    .centered
                                        p#submit-code-result
                                .control.flex-end
                                    button#resend-code.button-primary 重新寄送驗證碼
                                    button#submit-code.button-primary 提交
                            .container.email-verified
                                .centered
                                    p 已驗證電子郵件
                    .control
                        label(for="post-content")
                            | 貼文內容
                            span#post-content-size
                        textarea#post-content
                .form-visual-section
                    .control
                        label(for="images")
                            | 附加圖片
                            span#images-size
                        .images-preview-box
                        label(for="images").add-image.images-preview-box-empty
                            p 點擊此處以上傳圖片
                        input#images.hidden(type="file", accept="image/*", multiple)
                    .control.centered
                        p#submit-result
                    .control.flex-end
                        button#submit-post.button-primary(disabled) 提交
        include page