doctype html
html
    head
        include head
        link(rel="stylesheet", href="/css/rules.css")
    body
        main
            h6.page-title 版規
            each rule in rules
                p.title #{rule.title}
                p.content #{rule.content}
        include page