doctype html
html
    head
        include head
        link(rel="stylesheet", href="/css/rules.css")
    body
        main
            h4.page-title 版規
            each rule in rules
                .item
                    h5 #{rule.title}
                    p #{rule.content}
        include page-basic