doctype html
html
    head
        include head
        include facebook_sdk
        script(src="/js/user_login.js")
    body
        include navbar
        main
            h4.page_title 登入
            #login.form
                .form-controls
                    label(for="email") 電子郵件
                    input#email(name="email", type="email")
                .form-controls
                    label(for="password") 密碼
                    input#password(name="password", type="password")
                .form-controls.center
                    button#submit.button.primary 登入
                    a.link(href="/user/recover") 重設密碼
                .form-controls.center
                    p.form-message
                .form-controls.center
                    button#facebook.button.facebook 以Facebook登入
        include footer