doctype html
html
    head
        include head
        link(rel="stylesheet", href="/css/user-auth.css")
        script(async, defer, src="/js/user-register.js")
    body
        main
            h6.page-title 重設密碼
            .form
                .form-visual-section
                    .control
                        label(for="password") 新密碼
                        input#password(name="password", type="password")
                    .control.centered
                        button#send-code.button-primary 重設密碼
        include page