doctype html
html
    head
        include head
        link(rel="stylesheet", href="/css/user-auth.css")
        script(async, defer, src="/js/user-sign-in.js")
    body
        main
            h6.page-title 登入
            .form
                .form-visual-section
                    .control
                        label(for="email") 電子郵件
                        input#email(name="email", type="email")
                    .control
                        label(for="password") 密碼
                        input#password(name="password", type="password")
                    .control.centered
                        p#result
                    .control.centered
                        button#submit.button-primary 登入
                        a.button-link(href="/user/recover") 忘記密碼
        include page