body, body[data-theme="light"]
    --color-default #FDFDFD
    --color-default-text #1F1F1F
    --color-default-deeper #EAEAEA
    --color-primary #9099FF
    --color-primary-text #FDFDFD
    --color-secondary #B0B0B0
    --color-secondary-text #1F1F1F
    --color-link transparent
    --color-link-text #1E87F0
    --color-facebook #3B5998
    --color-facebook-text #FDFDFD
    --color-instagram #3f729b
    --color-instagram-text #FDFDFD
    --color-github #24292e
    --color-github-text transparent

body[data-theme="dark"]
    --color-default #323336
    --color-default-text #EAEAEA
    --color-default-deeper #1F1F1F
    --color-primary #9099FF
    --color-primary-text #FDFDFD
    --color-secondary #B0B0B0
    --color-secondary-text #1F1F1F
    --color-link transparent
    --color-link-text #1E87F0
    --color-facebook #3B5998
    --color-facebook-text #FDFDFD
    --color-instagram #3f729b
    --color-instagram-text #FDFDFD
    --color-github #24292e
    --color-github-text transparent

default = var(--color-default)
default-text = var(--color-default-text)
default-deeper = var(--color-default-deeper)
primary = var(--color-primary)
primary-text = var(--color-primary-text)
secondary = var(--color-secondary)
secondary-text = var(--color-secondary-text)
link = var(--color-link)
link-text = var(--color-link-text)
facebook = var(--color-facebook)
facebook-text = var(--color-facebook-text)
instagram = var(--color-instagram)
instagram-text = var(--color-instagram-text)
github = var(--color-github)
github-text = var(--color-github-text)