default = #FEFEFF
default-card = #F2F2F2
default-text = #101010
default-text-light = #808080
primary = #6000FF
primary-text = #FFFEFE
link = #0C80F9
facebook = #3B5998
instagram = #3f729b

.default
    color default-text
    background-color default