$centered-flex
    display flex
    align-items center

transition-short = 120ms
transition-medium = 240ms

// TOPNAV
#topnav .menu-toggle
    &.active .open, &:not(.active) .close
        display none

#topnav .main
    & > .title
        flex-grow 1
    & > .title > a
        font-size 1.5rem
        -webkit-touch-callout none

#topnav .content
    & a
        padding 0.1rem
        padding-right 0
        margin 0 0.9rem
        margin-right 0
    &.social-links a
        @extends $centered-flex

@media (max-width: 480px)
    #topnav .main .title
        @extends $centered-flex
        justify-content center
    #topnav .content
        opacity 0
        box-shadow 0 1px 3px -2px rgba(0,0,0,0.12), 0 1px 2px -2px rgba(0,0,0,0.24)
        &.active
            opacity 1
    #topnav .navigation a
        font-size 1.25rem
        margin 0.5rem 0 1.5rem
        display block
        width 100%
    #topnav .social-links
        justify-content space-around
    #topnav .social-links a
        margin 1rem
        & .iconify
            font-size 2.5rem

// COMMON
a.text, button.text
    opacity 0.6
    transition-duration transition-short
    &:hover
        opacity 1

.iconify
    font-size 1.5rem

// COLOR
.primary
    color primary-text
    background-color primary

.secondary
    color secondary-text
    background-color secondary

.facebook
    color facebook-text
    background-color facebook

.iconify[data-icon="mdi:facebook"] *
    color facebook

.iconify[data-icon="mdi:instagram"] *
    color instagram

// MEDIA QUERY

@media (min-width: 480px)
    .mobile
        display none !important

@media (max-width: 480px)
    .desktop
        display none !important

// COMPONENT

.page-title
    margin 1.25rem
    text-align center

.meta
    margin 0.1rem

.button-default
    min-width 9rem
    text-align center
    font-size 1.2rem
    padding 0.5em 1.25em
    opacity 0.85
    border-radius 2.5em
    transition-duration transition-short
    cursor pointer
    display inline-block
    box-sizing border-box
    &:hover
        opacity 1

.link-default
    padding 0.1rem
    margin 0.9rem
    color link-text
    text-decoration none
    cursor pointer
    &:hover
        text-decoration underline

.form-basic
    max-width 100%
    .form-control
        margin 1rem 0
    .form-control .button-default
        margin 0.5rem 0
    img
        max-height 20rem
        max-width 100%

.form-default
    width 20rem
    .form-control .button-default
        width 100%

@media (max-width: 480px)
    .form-default
        width 100%

.form-large
    width 28rem
    max-width 100%

.images-preview
    & > .container:not(:empty) + .empty
        display none
    .empty
        @extends $centered-flex
        justify-content center
        height 5rem
        width 100%
        margin 0.4rem 0
        padding 0.4em
        border 2px solid
        box-sizing border-box
        border-color default-text

.accordion
    & > .toggle
        @extends $centered-flex
        justify-content flex-start
        & > span
            margin-left auto
            margin-right 0
        &.active .open, &:not(.active) .close
            display none
    & > .content
        width 100%
    & > .content:not(.active)
        display none