$centered-flex
    display flex
    flex-direction column
    align-items center
    justify-content center

main
    @extends $centered-flex
    & > *
        display block
        margin auto
    header
        @extends $centered-flex
        min-height 20rem
    #menu
        @extends $centered-flex
        min-height 10rem
    img
        margin: 1rem 0
        max-height 10rem
    .link
        padding 0.2rem
        margin 1rem