$center-align-column
    display flex
    flex-direction column
    align-items center

main
    @extend $center-align-column
    & > div
        @extend $center-align-column
        flex-grow 1
        width 100%
        box-sizing border-box
        justify-content center

.landing-title
    min-height 20rem
    img
        max-height 10rem
        max-width 100%
        -webkit-user-drag none

.landing-menu
    min-height 10rem