@require "color.styl"

menu-height = 3.2rem
page-padding = var(--page-padding)
transition-short = 120ms
transition-medium = 240ms

$centered-flex
    display flex
    align-items center

html
    height 100%
    --page-padding 2rem

@media (max-width: 480px)
    html
        --page-padding 1rem

body
    height 100%
    color default-text
    background-color default
    margin 0

#topnav
    @extends $centered-flex
    height menu-height
    padding 0 page-padding
    position fixed 0 0
    background-color default

#topnav > .main
    @extends $centered-flex
    flex-grow 1
    height 100%
    background-color default
    z-index 10

#topnav .content
    @extends $centered-flex
    height 100%
    box-sizing border-box
    background-color default
    z-index 1

@media (max-width: 480px)
    #topnav
        display block
        padding 0
    #topnav > .main
        position absolute 0 0
        padding 0 page-padding
    #topnav > .content
        height auto
        width 100%
        padding 0 page-padding
        position absolute
        transform "translateY(calc(%s - 100%))" % menu-height
        transition all transition-medium
        &.active
            transform translateY(menu-height)
    #topnav > .content > div
        height 100%
        width 100%
    #topnav > .navigation
        display block

body > main
    min-height 100% // "calc(100% - %s)" % menu-height
    padding 0 page-padding
    padding-top menu-height
    box-sizing border-box

#footer
    @extends $centered-flex
    height menu-height


// OTHER

.centered
    @extends $centered-flex
    flex-direction column