@require "color.styl"

super-small-screen-width = 320px
small-screen-width = 480px

.add-image
    padding 0.3rem 0.8rem
    margin 0.5rem 0
    border 1px solid default-text-light
    border-radius 2px
    text-align center
    cursor pointer
    &:hover
        border-color default-text

.image-preview-box
    display flex
    align-items center
    padding 0.6rem 0.8rem
    border-radius 2px
    margin 0.2rem 0
    background-color default-card
    .image-preview
        height 100%
        max-width 20%
        background default
    img
        display block
        height auto
        width auto
        max-height 100%
        max-width 100%
    .metadata
        height 100%
        flex-grow 1
        display flex
        flex-direction column
        justify-content center
        overflow hidden
    .metadata .name
        font-size 1rem
        margin 0 0 0.4rem 1.5rem
        word-wrap break-word
    .metadata .size
        font-size 0.8rem
        margin 0 0 0 1.5rem
    .remove-image
        margin 1rem

@media (min-width: small-screen-width)
    .images-preview-box
        max-height 20rem
        overflow auto

@media (max-width: super-small-screen-width)
    .image-preview-box
        flex-wrap wrap
        justify-content center
        .image-preview
            height auto
            max-width 100%
        .metadata
            margin 0.5rem
        .metadata .name
            margin 0 0 0.4rem 0
            word-wrap break-word
        .metadata .size
            margin 0
            text-align center