small-screen-width = 480px

$content
    width 28rem
    text-align center
    margin 1.5rem auto
    max-width 100%

main
    .title
        @extend $content
        font-size 1.5rem

    .content
        @extend $content
        font-size 1rem