$center-flex
    display flex
    flex-direction column
    align-items center

main
    @extends $center-flex
    .item
        @extends $center-flex
        h5
            margin 0.5em auto
        p
            max-width 30em
            margin 1em auto

@media (max-width: 480px)
    main
        padding-bottom 1em