$centered-text
    width 28rem
    max-width 100%
    text-align center

main .item
    display flex
    flex-direction column
    align-items center
    h5
        @extends $centered-text
        margin 0.5rem auto
    p
        @extends $centered-text
        margin 1rem auto

@media (max-width: 480px)
    main
        padding-bottom 1rem